*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box; }

body {
  width: 100%;
  background-color: #e0e0e0;
  position: relative;
  display: flex; }

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400; }

.panel {
  width: calc(100% - 300px); }
  .panel__navigation {
    padding: 15px 30px;
    border-bottom: 3px solid #0f1522;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .panel__search {
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: center; }
    .panel__search i {
      margin-right: 14px; }
    .panel__search input {
      font-size: 14px;
      outline: none;
      border: none; }
  .panel__profile {
    display: flex;
    justify-content: flex-start;
    align-items: center; }
    .panel__profile i {
      font-size: 18px;
      margin-right: 20px; }
    .panel__profile img {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      object-fit: cover; }
  .panel__title {
    font-size: 24px;
    font-weight: 700;
    padding: 30px 30px 0 30px;
    text-transform: capitalize;
    color: #343a42; }
  .panel__values {
    padding: 30px 30px 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; }
  .panel__value {
    width: 235px;
    padding: 16px 20px;
    border-radius: 5px;
    background-color: #fff;
    display: flex;
    justify-content: flex-start;
    align-items: center; }
    .panel__value i {
      font-size: 25px;
      width: 60px;
      height: 60px;
      border-radius: 50%;
      color: #fff;
      margin-right: 15px;
      text-align: center;
      line-height: 60px; }
    .panel__value:nth-child(1) i {
      background-color: #8932cf; }
    .panel__value:nth-child(2) i {
      background-color: #2b68ec; }
    .panel__value:nth-child(3) i {
      background-color: #e92c81; }
    .panel__value:nth-child(4) i {
      background-color: #23a7be; }
    .panel__value h3 {
      font-size: 18px;
      font-weight: 600; }
    .panel__value span {
      font-size: 15px;
      color: #343a42;
      opacity: 0.8; }

.sidebar {
  width: 300px;
  height: 100%;
  background-color: #0f1522; }
  .sidebar__logo {
    color: #fff;
    padding: 30px 0 0 30px;
    display: flex;
    align-items: center; }
    .sidebar__logo img {
      width: 40px;
      margin-right: 10px; }
  .sidebar__items {
    margin-top: 40px; }
    .sidebar__items li {
      list-style: none;
      padding: 15px 0;
      cursor: pointer;
      transition: all 0.3s ease; }
      .sidebar__items li:hover {
        background-color: #192030; }
      .sidebar__items li:nth-child(1) {
        border-left: 3px solid #fff; }
      .sidebar__items li i {
        width: 30px;
        height: 30px;
        font-size: 14px;
        line-height: 30px;
        text-align: center;
        margin: 0 10px 0 25px;
        color: #9e9e9e;
        transition: all 0.3s ease; }
      .sidebar__items li:hover i,
      .sidebar__items li:hover a {
        color: #ccc; }
      .sidebar__items li a {
        text-decoration: none;
        font-weight: 300;
        color: #9e9e9e;
        transition: all 0.3s ease; }
