// colors
$color-white: #fff;
$color-white-2: #f6f6f6;

$color-gray: #9e9e9e;
$color-gray-dark: #343a42;
$color-gray-light: #ccc;

$color-edit: #4407d3;

$color-active: #1c1d1c;
$bg-color-active: #5dff65;

$bg-navy-primary: #0f1522;
$bg-navy-secondary: #192030;

$bg-color-primary: #e0e0e0;

$bg-dashboard-users: #8932cf;
$bg-dashboard-orders: #2b68ec;
$bg-dashboard-sell: #e92c81;
$bg-dashboard-monthly: #23a7be;

// fonts
$font-family: "Poppins", sans-serif;
$font-weight-default: 400;
