// colors
$color-white: #fff;

$color-gray: #9e9e9e;
$color-gray-light: #ccc;

$bg-navy-primary: #0f1522;
$bg-navy-secondary: #192030;

$bg-color-primary: #e0e0e0;

// fonts
$font-family: "Poppins", sans-serif;
$font-weight-default: 400;
