.panel {
  width: calc(100% - 300px); // 300px = sidebar width
  margin-left: 300px;
  position: relative;

  &__navigation {
    padding: 15px 30px;
    border-bottom: 3px solid $bg-navy-primary;
    background-color: $color-white;

    @include flexElement(space-between, center);

    position: fixed;
    top: 0;
    right: 0;
    width: calc(100% - 300px);
    z-index: 99;
  }

  &__left {
    @include flexElement(flex-start, center);
  }

  &__search {
    padding: 10px 15px;
    border: 1px solid $color-gray-light;
    border-radius: 5px;

    @include flexElement(flex-start, center);

    i {
      margin-right: 14px;
    }

    input {
      font-size: 14px;
      outline: none;
      border: none;
    }
  }

  &__profile {
    @include flexElement(flex-start, center);

    i {
      font-size: 18px;
      margin-right: 20px;
    }

    img {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      object-fit: cover;
    }
  }

  &__title {
    font-size: 24px;
    font-weight: 700;
    padding: 30px 30px 0 30px;
    text-transform: capitalize;
    color: $color-gray-dark;
    margin-top: 70px;
  }

  &__values {
    padding: 30px 30px 0 30px;

    @include flexElement(space-between, center);
    flex-wrap: wrap;
  }

  &__value {
    width: 235px;
    padding: 16px 20px;
    border-radius: 5px;
    background-color: $color-white;

    @include flexElement(flex-start, center);

    i {
      font-size: 25px;
      width: 60px;
      height: 60px;
      border-radius: 50%;
      color: $color-white;
      margin-right: 15px;
      text-align: center; // for horizontal center
      line-height: 60px; // for vertical center
    }

    &:nth-child(1) i {
      background-color: $bg-dashboard-users;
    }
    &:nth-child(2) i {
      background-color: $bg-dashboard-orders;
    }
    &:nth-child(3) i {
      background-color: $bg-dashboard-sell;
    }
    &:nth-child(4) i {
      background-color: $bg-dashboard-monthly;
    }

    h3 {
      font-size: 18px;
      font-weight: 600;
    }

    span {
      font-size: 15px;
      color: $color-gray-dark;
      opacity: 0.8;
    }
  }

  &__board {
    width: 94.5%;
    margin: 30px 0 30px 30px;
    overflow: auto;
    border-radius: 5px;
    background-color: $color-white;

    img {
      width: 50px;
      height: 50px;
      object-fit: cover;
      border-radius: 50%;
      margin-right: 10px;
    }

    h5 {
      font-size: 14px;
      font-weight: 600;
    }

    p {
      font-size: 12px;
      padding-top: 5px;
      color: $color-gray-dark;
      opacity: 0.8;
    }

    table {
      border-collapse: collapse;
    }

    tr {
      border-bottom: 1px solid $color-gray-light;
    }

    thead {
      td {
        font-size: 14px;
        text-transform: uppercase;
        background-color: $color-white-2;
        text-align: start;
        padding: 15px;
      }
    }

    tbody {
      tr,
      td {
        padding: 10px 15px;
      }
    }
  }

  &__people {
    @include flexElement(flex-start, center);
    text-align: start;
  }

  &__status {
    p {
      display: inline-block;
      padding: 4px 10px;
      border-radius: 25px;
      background-color: $bg-color-active;
      color: $color-dark;
    }
  }

  &__edit {
    a {
      text-decoration: none;
      font-size: 14px;
      font-weight: 600;
      color: $color-edit;
    }
  }
}

// RESPONSIVE DESIGN
@media (max-width: 770px) {
  .panel {
    width: 100%;
    margin-left: 0;
    display: inline-block;
    transition: all 0.3s ease;

    &__navigation {
      width: 100%;
      transition: all 0.3s ease;
    }

    &__board {
      max-width: 90%;
    }

    &__values {
      justify-content: flex-start;
    }

    &__value {
      margin: 10px 20px 10px 0;
    }

    &__board {
      width: 92%;
      padding: 0;
      overflow-x: auto;

      table {
        width: 100%;
        border-collapse: collapse;
      }
    }
  }
}

@media (max-width: 480px) {
  .panel {
    &__navigation {
      padding: 15px;

      input {
        width: 150px;
      }
    }

    &__title {
      padding: 30px 15px 0 15px;
    }

    &__values {
      padding: 5px 15px 0 15px;
    }

    &__value {
      width: 100%;
    }

    &__board {
      width: 86.5%;
      margin: 30px 15px;
    }
  }
}
