.sidebar {
  width: 300px;
  height: 100%;
  background-color: $bg-navy-primary;

  position: fixed;
  left: 0;
  top: 0;

  &__logo {
    color: $color-white;
    padding: 30px 0 0 30px;

    display: flex;
    align-items: center;

    img {
      width: 40px;
      margin-right: 10px;
    }
  }

  &__items {
    margin-top: 40px;

    li {
      list-style: none;
      padding: 15px 0;
      cursor: pointer;
      transition: all 0.3s ease;

      &:hover {
        background-color: $bg-navy-secondary;
      }

      &:nth-child(1) {
        border-left: 3px solid $color-white;
      }

      i {
        width: 30px;
        height: 30px;
        font-size: 14px;
        line-height: 30px;
        text-align: center;
        margin: 0 10px 0 25px;
        color: $color-gray;
        transition: all 0.3s ease;
      }

      &:hover {
        i,
        a {
          color: $color-gray-light;
        }
      }

      a {
        text-decoration: none;
        font-weight: 300;
        color: $color-gray;
        transition: all 0.3s ease;
      }
    }
  }
}

// RESPONSIVE DESIGN
@media (max-width: 770px) {
  .sidebar {
    width: 270px;
    position: fixed;
    left: -270px;
    transition: all 0.3s ease;
  }

  .sidebar.active {
    left: 0;
  }

  .sidebar.active ~ .panel {
    width: calc(100% - 270px);
    margin-left: 270px;
    transition: all 0.3s ease;
  }

  .sidebar.active ~ .panel .panel__navigation {
    transition: all 0.3s ease;
    width: calc(100% - 270px);
    left: 270px;
  }
}

@media (max-width: 480px) {
  .sidebar.active {
    width: 100%;
    z-index: 999;
  }
}
